<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aviator</title>
  <link rel="stylesheet" href="../css/login.css">
</head>
<body class="login-body">
<header class="header">
        <div class="contenedor-logo">
            <img src="../img/logo.png" alt="" class="logo">
            <p class="nombre">Aviator</p>
        </div>
      <nav class="menu">
      <ul class="lista">
        <li class="enlace"><a href="../index.html" class="link">Inicio</a></li>
        <li class="enlace"><a href="../templates/destino.html" class="link">Destinos</a></li>
        <li class="enlace"><a href="../templates/aviator.html" class="link">IA Asistente</a></li>
        <li class="enlace"><a href="../templates/precios.html" class="link">Precios</a></li>
        <li class="enlace"><a href="../templates/conctacto.html" class="link">Contacto</a></li>
      </ul>
    </nav>
        <div class="contenedor-botones">
            <a href="../templates/login.html"><button class="boton-1">Iniciar Seccion</button></a>
            <a href="../templates/registro.html"><button class="boton-2">Registrarse</button></a>
        </div>
    </header>

  <div class="login-container">
    <h2>LOGIN</h2>

    <label for="correoLogin">Correo</label>
    <input type="text" id="correoLogin" placeholder="Ingrese su correo">

    <label for="passLogin">Contraseña</label>
    <input type="password" id="passLogin" placeholder="Ingrese su contraseña">

    <a href="../templates/registro.html" class="registro-link">Registro</a>

    <button id="btn">Iniciar Sesion </button>

    <hr>
    <p>Inicio de sesión con otro método</p>
    <img src="../img/Google.png" alt="Google" class="google-icon">
    <hr>
  </div>
          <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="../img/logo.png" alt="">
                <h5>Aviator</h5>
            </div>
            <div class="footer-links">
                <a href="#">Inicio</a>
                <a href="#">Servicios</a>
                <a href="#">Sobre nosotros</a>
                <a href="#">Contacto</a>
            </div>
            <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Aviator. Todos los derechos reservados.</p>
        </div>
    </footer>

  

  <script src="../scripts/login.js"></script>
</body>
</html>
